.App-Content {
  background-image: url(../../data/images/coding.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 2.5rem 8.5rem 2.5rem 8.5rem;

  .AboutContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.8rem;
    background-color: white;
    border: solid black 1px;
    box-shadow: 10px 10px 5px var(--accent-color);
    transition: box-shadow 0.5s;

    .AboutTextContainer {
      width: 75%;
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      h1 {
        margin: 0;
        margin-bottom: 1rem;
      }

      p {
        margin: 0;
        margin-bottom: 1rem;
        line-height: 1.3rem;
      }
    }

    .AboutImageContainer {
      align-items: center;
      width: 25%;
      height: 25%;
      overflow: hidden;
      margin-left: 0.5rem;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 5px 5px 10px var(--accent-color);

      img {
        width: 100%;
        object-fit: cover;
        transition: 2s;
      }
    }

    .AboutImageContainer:hover img {
      transform: scale(1.05);
    }
  }

  .AboutContainer:hover {
    box-shadow: 10px 10px 5px grey;
  }

  .ProjectsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0.8rem;
    background-color: white;
    border: solid black 1px;
    box-shadow: 10px 10px 5px var(--accent-color);
    transition: box-shadow 0.5s;

    p {
      margin: 0;
      margin-bottom: 1rem;
      line-height: 1.3rem;
    }

    h1 {
      margin: 0;
    }

    h2 {
      font-weight: 600;
      margin: 0;
      margin-bottom: 1rem;
    }

    h3 {
      font-weight: 600;
      margin: 0;
      margin-bottom: 1rem;
    }

    .AlignImageLeft {
      display: flex;
      flex-direction: row;
      padding: 0.8rem 0;
      border-top: solid gray 1px;

      .TextContainer {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-right: 2rem;
      }
    }

    .AlignImageRight {
      display: flex;
      flex-direction: row-reverse;
      padding: 0.8rem 0;
      border-top: solid gray 1px;

      .TextContainer {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: 2rem;
      }
    }

    .ImageContainer {
      align-items: center;
      width: 40%;
      display: flex;
      justify-content: center;

      img {
        min-width: 100%;
        object-fit: cover;
        transition: 2s;
        overflow: hidden;
        box-shadow: 0px 0px 10px var(--accent-color);
        border-radius: 0.8rem;
      }
    }

    .ImageContainer:hover img {
      transform: scale(1.02);
    }
  }

  .SkillsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0.8rem;
    background-color: white;
    border: solid black 1px;
    box-shadow: 10px 10px 5px var(--accent-color);
    transition: box-shadow 0.5s;

    h1 {
      margin: 0;
      padding-bottom: 0.5rem;
    }
  }

  .ExperienceContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    background-color: white;
    border: solid black 1px;
    box-shadow: 10px 10px 5px var(--accent-color);
    transition: box-shadow 0.5s;

    h1 {
      margin: 0;
      padding-bottom: 0.5rem;
    }

    .ExpData {
      border-top: solid gray 1px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        display: flex;
        flex-direction: column;

        .ExpTitle {
          margin-bottom: 0;
        }

        .ExpPeriod {
          color: grey;
          // margin-bottom: 2rem;
        }

        .ExpDescription {
          font-size: 0.9rem;
        }
      }

      .ExpLogo {
        margin-top: 1.2rem;
        margin-right: 0.5rem;
        height: 2rem;
      }
    }
  }

  .ExperienceContainer:hover,
  .ProjectsContainer:hover,
  .SkillsContainer:hover {
    box-shadow: 10px 10px 5px grey;
  }
}
